In [1]:
import numpy as np
import pandas as pd

In [18]:
dataArray=np.random.rand(5,3)

In [20]:
dataArray=pd.DataFrame(dataArray,index=["Personel1","Personel2","Personel3","Personel4","Personel5"],
                       columns=["Çalışma Saati","Maaş Miktarı","Proje Sayısı"])

In [21]:
dataArray

           Çalışma Saati  Maaş Miktarı  Proje Sayısı
Personel1       0.614668      0.566323      0.607786
Personel2       0.830936      0.823739      0.196142
Personel3       0.973777      0.285193      0.335481
Personel4       0.053353      0.145480      0.012016
Personel5       0.193972      0.293436      0.587516

In [30]:
dataArray["Yıl"]=dataArray["Çalışma Saati"]/2 # Yıl Kolonu Eklendi

In [25]:
dataArray

           Çalışma Saati  Maaş Miktarı  Proje Sayısı       Yıl
Personel1       0.614668      0.566323      0.607786  0.307334
Personel2       0.830936      0.823739      0.196142  0.415468
Personel3       0.973777      0.285193      0.335481  0.486888
Personel4       0.053353      0.145480      0.012016  0.026677
Personel5       0.193972      0.293436      0.587516  0.096986

In [31]:
dataArray.drop("Proje Sayısı",axis=1) # Proje Saati Kolonu Çıkarıldı

           Çalışma Saati  Maaş Miktarı       Yıl
Personel1       0.614668      0.566323  0.307334
Personel2       0.830936      0.823739  0.415468
Personel3       0.973777      0.285193  0.486888
Personel4       0.053353      0.145480  0.026677
Personel5       0.193972      0.293436  0.096986

In [37]:
dataArray[dataArray["Çalışma Saati"]>0.6]  # Çalışma Saati 0.6 değerinden büyük olan personeller çağrıldı

           Çalışma Saati  Maaş Miktarı  Proje Sayısı       Yıl
Personel1       0.614668      0.566323      0.607786  0.307334
Personel2       0.830936      0.823739      0.196142  0.415468
Personel3       0.973777      0.285193      0.335481  0.486888