In [1]:
import numpy as np
import pandas as pd

In [2]:
disIndex=["Fenerbahçe","Fenerbahçe","Fenerbahçe","Galatasaray","Galatasaray","Galatasaray","Beşiktaş","Beşiktaş","Beşiktaş"]

In [4]:
icIndex=["DZEKO","TADIC","SZYMANSKI","ICARDI","MERTENS","ZAHA","RAFA","SEMIH","RASHICA"]

In [5]:
birlesmisListe=list(zip(disIndex,icIndex))

In [7]:
birlesmisListe

[('Fenerbahçe', 'DZEKO'),
 ('Fenerbahçe', 'TADIC'),
 ('Fenerbahçe', 'SZYMANSKI'),
 ('Galatasaray', 'ICARDI'),
 ('Galatasaray', 'MERTENS'),
 ('Galatasaray', 'ZAHA'),
 ('Beşiktaş', 'RAFA'),
 ('Beşiktaş', 'SEMIH'),
 ('Beşiktaş', 'RASHICA')]

In [8]:
birlesmisListe=pd.MultiIndex.from_tuples(birlesmisListe)

In [9]:
birlesmisListe

MultiIndex([( 'Fenerbahçe',     'DZEKO'),
            ( 'Fenerbahçe',     'TADIC'),
            ( 'Fenerbahçe', 'SZYMANSKI'),
            ('Galatasaray',    'ICARDI'),
            ('Galatasaray',   'MERTENS'),
            ('Galatasaray',      'ZAHA'),
            (   'Beşiktaş',      'RAFA'),
            (   'Beşiktaş',     'SEMIH'),
            (   'Beşiktaş',   'RASHICA')],
           )

In [11]:
VeriListesi=[[250000,38],[220000,35],[250000,28],[650000,30],[360000,38],[200000,29],[22000,32],[540000,21],[564000,28],]

In [12]:
numpyListesi=np.array(VeriListesi)

In [16]:
numpyListesi

array([[250000,     38],
       [220000,     35],
       [250000,     28],
       [650000,     30],
       [360000,     38],
       [200000,     29],
       [ 22000,     32],
       [540000,     21],
       [564000,     28]])

In [21]:
dataFrameListesi=pd.DataFrame(numpyListesi,index=birlesmisListe,columns=["Değer","Yas"])

In [22]:
dataFrameListesi

                        Değer  Yas
Fenerbahçe  DZEKO      250000   38
            TADIC      220000   35
            SZYMANSKI  250000   28
Galatasaray ICARDI     650000   30
            MERTENS    360000   38
            ZAHA       200000   29
Beşiktaş    RAFA        22000   32
            SEMIH      540000   21
            RASHICA    564000   28

In [25]:
dataFrameListesi.loc["Fenerbahçe"]

            Değer  Yas
DZEKO      250000   38
TADIC      220000   35
SZYMANSKI  250000   28

In [28]:
dataFrameListesi.loc["Fenerbahçe"]["Değer"]

DZEKO        250000
TADIC        220000
SZYMANSKI    250000
Name: Değer, dtype: int32