In [1]:
import numpy as np
import pandas as pd

In [13]:
disIndexAlanlar=["Saglık","Saglık","Saglık","Muhendislik","Muhendislik","Bilim","Bilim"]

In [14]:
icIndexMeslekler=["Doktor","Eczacı","Hemsire","Bilgisayar","Yazılım","Biyolog","Fizikci"]

In [15]:
birlesmisListe=list(zip(disIndexAlanlar,icIndexMeslekler))

In [16]:
birlesmisListe=pd.MultiIndex.from_tuples(birlesmisListe)

In [17]:
dataListesi=np.array([[20000,6],[45000,5],[120000,4],[85000,4],[90000,4],[100000,4],[95000,4]])

In [19]:
dataFrameListesi=pd.DataFrame(data=dataListesi,index=birlesmisListe,columns=["Sıralama(ortalama)","Yıl"])

In [20]:
dataFrameListesi

                        Sıralama(ortalama)  Yıl
Saglık      Doktor                   20000    6
            Eczacı                   45000    5
            Hemsire                 120000    4
Muhendislik Bilgisayar               85000    4
            Yazılım                  90000    4
Bilim       Biyolog                 100000    4
            Fizikci                  95000    4

In [22]:
dataFrameListesi.loc["Bilim"]

         Sıralama(ortalama)  Yıl
Biyolog              100000    4
Fizikci               95000    4

In [24]:
dataFrameListesi.loc["Saglık"]

         Sıralama(ortalama)  Yıl
Doktor                20000    6
Eczacı                45000    5
Hemsire              120000    4

In [23]:
dataFrameListesi.loc["Muhendislik"]

            Sıralama(ortalama)  Yıl
Bilgisayar               85000    4
Yazılım                  90000    4